/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#sign-in-section {
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 50px;

  #new_user {
    padding: 15px 30px 15px 30px;
  }
  input {
    font-size: 1.2em;
  }
  .actions {
    text-align: center;
  }
  label {
    font-weight: bold;
  }
  .alert-section {
    margin-top: 10px;
  }
}

.navbar-section {
  ul {
    display: flex;
    justify-content: space-between;

    li.w3-dropdown-hover {
      background-color: transparent;
    }
  }
}

.w3-row {
  display: flex;
  justify-content: center;
}
#payments-section {
  margin-top: 15px;
  .new-payment {
    .payment-link {
      text-align: center;
    }
  }
  #new-payment-form {
    margin-top: 15px;
    .create-payment-button {
      text-align: center;
      margin-top: 10px;
    }
    input[type="number"], input[type="date"], select {
      height: 40px;
      box-shadow: 0 0 3px rgba(0,0,0,0.3);
      max-width: 180px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      background-color: #fff;
    }

    input[type="file"] {
      border: none;
    }

    label {
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    .form-inputs {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    .w3-card-4 {
      padding: 15px;
      margin: 10px 10px 20px 10px;
    }
  }
}

#sign-up-section{
  margin-top: 20px;
  .w3-card-4{
    padding-bottom: 20px;
    #sign-up-form {
      margin-left: 15px;
      margin-right: 15px;

      .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
      }
      .input {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

span.error {
  color: red;
  text-transform: capitalize;
}

span.error ~ input {
  color: red;
  background-color: red;
}