#stats-section {
  #numbers-section {
    .w3-col.m4 {
      margin: 15px;
      .amount {
        font-size: 1.4em;
      }
      .w3-container {
        height: 70px;
      }
      .w3-container.context {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .tabs {
    a.tablink {
      width: 100%;
      div {
        width: 100%;
      }
    }
  }
}

.categories { margin-right: 80px; }

.card-header {
  display: flex;
  justify-content: space-around;
}

.card-body .w3-row {
  display: flex;
  justify-content: space-around;
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }
}

