h3 Hello!
h3 Payments for the last month
p= number_to_currency(last_month)

h3 Payments for the previous month
p= number_to_currency(previous_month)

h3 Average per day
p= number_to_currency(average_per_day)

h3 Average per day for the las month
p= number_to_currency(average_per_day_last)

h3 Sum for all time
p= number_to_currency(all_time)

h3 Average per day for all time
p= number_to_currency(average_per_day_all)